@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


/* nav section style start here  */

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

nav .logo {
    max-width: 150px;
}

nav .logo img {
    width: 100%;
}

nav ul {
    display: flex;
    margin-top: 6px;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li::after {
    content: " ";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #f44336;
    margin: left;
    transition: all .5s ease;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
}

.close,
.show {
    display: none;
}


/* home text style text here */

.home {
    color: #fff;
}

.homecontant {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh 0;
}

.homecontant button {
    background-color: #f44336;
    padding: 7px 10px;
    outline: none;
    border: 2px solid #c7170b;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.3s ease;
    margin-top: 10px;
}

.homecontant button:hover {
    background-color: transparent;
}


/* -----------------------------
our courses offer style start here 
------------------------------*/

.courses {
    margin: 40px 0;
    max-width: 85%;
    margin: 0 auto;
}

.sec-hadding {
    text-align: center;
    margin: 80px 0;
}

.sec-hadding h1 {
    margin-bottom: 8px;
    font-size: 40px;
}

.sec-hadding p {
    color: #9b9b9b;
}

.courses-wapper {
    display: flex;
    justify-content: space-between;
}

.courses-wapper .card {
    background-color: #f6e9e9;
    flex-basis: 30%;
    text-align: center;
    padding: 20px 8px;
    border-radius: 5px;
    transition: box-shadow .3s ease;
    margin-bottom: 80px;
}

.courses-wapper .card:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 25px -20px;
}

.courses-wapper .card h3 {
    padding: 10px 0;
}

.courses-wapper .card p {
    font-size: 14;
    color: #8b8282;
    font-weight: lighter;
}


/*---------------------------- 
our global campus styling start here
 ----------------------*/

.campus-wapper {
    display: flex;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.campus-wapper .campus-card {
    flex-basis: 30%;
    margin-bottom: 80px;
    position: relative;
    overflow: hidden;
}

.campus-card:hover .card-info {
    top: 0;
}

.campus-wapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-info {
    position: absolute;
    width: 100%;
    height: 99%;
    top: -150%;
    left: 0;
    background-color: rgba(246, 233, 233, 0.685);
    text-align: center;
    padding: 45% 2%;
    border-radius: 10px;
    transition: all .3s ease;
}

.card-info h2 {
    padding-bottom: 20px;
}


/* media quary less then 800px */

@media (max-width:800px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        text-align: left;
        overflow: hidden;
    }
    nav .menu {
        background-color: #f44336;
        position: absolute;
        top: 0;
        right: -2000px;
        max-width: 200px;
        width: 100%;
        height: 100vh;
        padding-top: 100px;
        transition: all .3s ease;
    }
    nav .menu ul li {
        margin-top: 8px;
    }
    nav .menu ul li:hover {
        color: #c7170b;
    }
    nav .menu ul .close {
        position: absolute;
        top: 22px;
        right: 100px;
    }
    nav .show {
        position: absolute;
        top: 22px;
        right: 20px;
    }
    .close,
    .show {
        display: block;
        color: #fff;
        font-size: 22px;
    }
}

@media (max-width:700px) {
    * {
        overflow: hidden;
    }
    .homecontant {
        text-align: center;
    }
    .homecontant h1 {
        font-size: 22px;
    }
    .homecontant p {
        font-size: 15px;
    }
    .homecontant button {
        margin-top: 20px;
        font-size: 15px;
        font-size: 13px;
    }
    .courses-wapper {
        flex-direction: column;
    }
    .campus-wapper {
        flex-direction: column;
        max-width: 84%;
    }
    .campus .sec-hadding {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width:450px) {
    nav .logo {
        width: 100%;
        z-index: 90;
    }
    .homecontant {
        text-align: center;
    }
    .homecontant h1 {
        font-size: 20px;
    }
    .homecontant p {
        font-size: 14px;
    }
    .homecontant button {
        margin-top: 20px;
        font-size: 15px;
        font-size: 13px;
    }
}


/* -----------------------------------
onather section start here 
--------------------------------*/